html, body {
    font-family: serif;
}
body {
    margin: 20px;
    background-color: rgb(228, 228, 228);
    height: 2000px;
}
input[type="number"]{
    width: 80px;
}

.task2 table {
    border-collapse: collapse;
}
.task2 th, td {
    border: 1px solid #000;
    padding: 5px 10px;
    text-align: center;
}
.task2 form {
    margin-top: 10px;
}


.task3 .tree li > ul {
    transition: .2s ease-out;
}

.hide-show-list {opacity: 0;}
.delete-list {display: none;}

.task3 .tree li > span {
    transition: .2s;
    cursor: pointer;
}
.task3 .tree li > span:hover{
    text-shadow: 0 0 2px #000;
}

table#grid {
    border-collapse: collapse;
}
.task4 th, td {
    border: 1px solid #000;
    padding: 5px 10px;
    text-align: center;
}
.task4 th {
    cursor: pointer;
}
.task4 th:hover {
    background-color: #ece17a;
}







